doctype html
html(lang="en")
    head
        include includes/head
    body
        include includes/nav
        .container
            #about
                include pages/about
            #projects(style='display:none;')
                include pages/projects

