h3 about
p
    | Why is my name 
    strong Heaven
    | ? It's not from my mom or dad. They don't know much English.
    | Fobs like to use weird words that have meanings rather than real English names.
    | I am no exception. 
    strong Heaven 
    | has great meanings and it actually sounds like a name.
    | After the confusion phase, people tend to find it hard to forget.

p
    | I have a few hobbies. In winter, I am probably on the slopes in one of the resorts in 
    | Lake Tahoe for most weekends. In summer, chances are I am living in a big tent with my friends
    | somewhere in the woods. Outdoor stuffs are fun. After work, sometimes I shoot hoops with
    | coworkers, sometimes I hit golf balls and sometimes I play random card games with friends. 
    | San Francisco is a cool place with so many options and I am very glad I live here.

p
    | CS Bachelor and Master degree from Rice University in 2013. Software Engineer at
    | Salesforce. bla bla bla... For all this boring stuff, Please check my 
    a(href='http://www.linkedin.com/in/heavenychen') LinkedIn.